section {
  display: grid;
}

.splashimage,
h1 {
  grid-area: 1 / 1;
}

.splashimage {
  object-fit: cover;
}

h1 {
  font-size: 100px;
  color: white;
  place-self: center center;
  background-color: #bf8484;
  background: rgba(151, 0, 0, 0.308);
}
/************** MOBILE ***************/
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
}

/*************** TABLET *************/
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

/************** WEB *****************/
@media only screen and (min-width: 990px) {
    h1 {
        font-size: 100px;
    }
}