html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

img {
  max-width: 100%;
}

/************* BURGER MENU ********************/

.toggle-btn {
  display: none;
}

.toggle-btn {
  background: transparent;
  border: none;
  display: block;
  width: 70px;
  height: 80px;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 3rem;
}

nav {
  display: none;
}

nav.shown {
  border-top: 1px solid #000;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

nav ul {
  display: flex;
  flex-flow: column;
}

.toggle-btn.open .burger,
.close {
  display: none;
}

.toggle-btn.open .close,
.burger {
  display: block;
}

header ul {
  list-style: none;
}

/************ BURGER MENU SLUT *********************/
