html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

img {
  max-width: 100%;
}

main {
  margin-inline: 12%;
}

/******** SKRIFT ********/
h1 {
  font-family: "Rowdies", cursive;
}
h2,
h3 {
  font-family: "Dosis", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

ul {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/************* BURGER MENU ********************/

.toggle-btn {
  display: none;
}

.toggle-btn {
  background: transparent;
  border: none;
  display: block;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 2rem;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

header nav {
  display: none;
}

nav.shown {
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

nav ul {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: #8c4949;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
  color: #552525;
}

.toggle-btn.open .burger,
.close {
  display: none;
}

.toggle-btn.open .close,
.burger {
  display: block;
}

header ul {
  list-style: none;
  text-decoration: none;
}

button {
  color: #8c4949;
  padding: 0.5%;
  padding-block: 0.2%;
  margin-block-end: 1%;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #8c4949;
  color: white;
}

/************ BURGER MENU SLUT *********************/

/************ KATEGORIER START *********************/
.kategorier button {
  font-size: 1rem;
  background-color: white;
  margin: 0.1%;
  margin-top: 1%;
  color: #8c4949;
  border: 2px solid #8c4949;
  padding: 2%;
  padding-block: 0.75%;
  cursor: pointer;
  border-radius: 20px;
  transition-duration: 0.3s;
}

.kategorier button:hover {
  border: 2px solid #8c4949;
  background-color: #8c4949;
  color: white;
}

.kategorier {
  text-align: center;
}

.valgt {
  background-color: aqua;
}
/************ KATEGORIER SLUT *********************/

/********** GRID START **********/
.test {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
/********** GRID SLUT **********/

@media (min-width: 500px) {
  nav ul {
    flex-flow: row;
    justify-content: space-between;
    margin-inline: 20%;
    margin-inline-end: 30%;
  }
  /******* FORSIDE CSS ********/
  .info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
}

.splashimage {
  margin-bottom: 80px;
}

/******************** FOOTER *****************/
footer {
  width: 100%;
  background: #bf8484;
}

footer .content {
  max-width: 135px;
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

footer .content p,
.topic,
footer a {
  color: white;
  font-size: 12px;
}

/*********** CSS på " FIND DIN PLANTE HER " splash billede samt overskrift ***********/
.container {
  display: grid;
}

.splash2,
h1 {
  grid-area: 1 / 1;
}

.splash2 {
  object-fit: cover;
  margin-bottom: 50px;
}

h1 {
  color: white;
  place-self: center center;
  color: #d9b384;
  font-family: "Rowdies", cursive;
  font-size: 80px;
}

/*************** MOBIL *************/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

/*************** TABLET *************/
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

/************** WEB *****************/
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 80px;
  }
}

/*********** LOGIN SIDE **********/
.tilmeld {
  background-color: #bf8484;
  padding: 7%;
  border-radius: 2rem;
  color: white;
}

label,
input,
textarea,
select,
label p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  color: #552525;
  padding: 4%;
  padding-inline: 20%;
  margin-bottom: 12%;
  border-radius: 2rem;
}

.bruger,
.tilmeld h2 {
  display: flex;
  justify-content: center;
}

.bruger {
  font-size: smaller;
}

.bekraeft_knap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  margin-top: 10%;
  padding-inline: 20%;
  border-color: white;
}

.login_billede {
  border-radius: 0.5rem;
}

.bekraeft_knap:hover {
  background-color: #8c4949;
}

.login_h1 {
  margin-left: 1rem;
  font-size: 3rem;
  color: #8c4949;
}

.login_tekst {
  margin-bottom: 10%;
}

@media (min-width: 900px) {
  #login {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }
  input {
    padding-inline: 20%;
  }

  .billede_tekst {
    margin-top: 0%;
    margin-right: 5%;
    margin-bottom: 50%;
  }
}
